<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ratio.btdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ratio.btdemo.ScanActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ratio.btdemo.ServicesActivity" />
        <activity
            android:name="com.ratio.btdemo.CharacteristicsActivity" />
        <activity
            android:name="com.ratio.btdemo.CharacteristicDetailsActivity" />
        <service
            android:name="com.ratio.deviceService.DeviceService"
            android:enabled="true" />

        <!-- receiver to re-enable the bluetooth adapter after it's been disabled for the BTLE workaround -->
        <receiver android:name="com.ratio.deviceService.BluetoothBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="com.ratio.deviceService.DeviceService.RESET_ADAPTER" />
            </intent-filter>
        </receiver>
	</application>

</manifest>
